<form action="/articles" method="post">
  <h1>Make your new article:</h1>
  <h2>Title:<input name="title" type="text"></h2>
  <h3>Content:<input name="content" type="text"></h3>
  <input type="submit" value="submit">
</form>
