<h1> <%= @articles.title %> </h1>
<h1> <%= @articles.content %> </h1>

<form action="/articles/<%= @articles.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
